---
Language:                                  Cpp
BasedOnStyle:                              LLVM
IndentWidth:                               4
AccessModifierOffset:                      -4
ColumnLimit:                               160
BinPackArguments:                          false
BinPackParameters:                         false
AlignAfterOpenBracket:                     true
AllowAllArgumentsOnNextLine:               false
AllowAllParametersOfDeclarationOnNextLine: false
PointerAlignment:                          Left
ReferenceAlignment:                        Pointer
Standard:                                  c++20
UseTab:                                    Never
SortIncludes:                              CaseSensitive
RemoveSemicolon:                           true
AllowShortFunctionsOnASingleLine:          Empty
PackConstructorInitializers:               Never
SpaceAfterTemplateKeyword:                 false
AlwaysBreakTemplateDeclarations:           Yes
IndentRequiresClause:                      false
RequiresClausePosition:                    OwnLine
IndentPPDirectives:                        None
InsertNewlineAtEOF:                        true
...

